/* userSearch.css */


body {
    font-family: 'Montserrat', sans-serif;
    background: white;
}

.warpper {
    display: block;
    max-width: 680px;
    width: 80%;
    margin: 120px auto;
}

h3 {
    color: 	#87CEFA;
    font-size: 48px;
    letter-spacing: -3px;
    text-align: center;
    margin: 80px 0 80px 0;
    transition: .2s linear;
    text-decoration: none;
}

.idpwFind {
    list-style-type: none;
}

.idpwFind li {
    display: inline-block;
    margin: 0 20px 0 0;
    transition: .2s linear;
    
}

.idpwFind a {
    text-decoration: none;
    color: #2196f3;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}

form {
    width: 100%;
    max-width: 680px;
    margin: 40px auto 30px; 
}

.find__block {
    margin: 20px auto;
    display: block;
    position: relative;
}

.find__block.id-find__block::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 70px;
    display: block;
    width: 0;
    height: 0;
    background: transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(15, 19, 42, 0.1);
    transition: .2s linear;
}

.find__block.pw-find__block::before{
	content: "";
  	position: absolute;
  	top: -15px;
  	left: 180px;
  	display: block;
  	width: 0;
  	height: 0;
  	background: transparent;
  	border-left: 15px solid transparent;
  	border-right: 15px solid transparent;
  	border-bottom: 15px solid rgba(15, 19, 42, 0.1);
  	transition: .2s linear;
}


input {
    display: block;
    width: 90%;
    max-width: 680px;
    height: 50px;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    background: rgba(15, 19, 42, 0.1);
    color: rgba(15, 19, 42, 0.3);
    padding: 0 0 0 15px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    transition: .2s linear;
}

input:focus,
input:active {
    outline: none;
    border: none;
    color: rgba(15, 19, 42, 1);
}

/* input#email{
	width: 610px;
	margin-right: auto;
} */

.search__btn {
    background: #87CEFA;
    color: white;
    display: block;
    width: 92.5%;
    max-width: 680px;
    height: 50px;
    border-radius: 8px;
    margin: 10 auto 10px; 
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 15px 30px rgba(135, 206, 250, 0.36);
    transition: .2s linear;
}

.search__btn:hover,
.send__btn:hover {
    box-shadow: 0 0 0 rgba(135, 206, 250, 0);
}

.send__btn {
	background: #87CEFA;
    color: white;
    display: inline-block;
    width: 20%;
    max-width: 680px;
    height: 50px;
    border-radius: 8px;
    margin: 10 auto 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'montserrat', sans-serif;
    box-shadow: 0 15px 30px rgba(135, 206, 250, 0);
    transition: .2s linear;
    position: absolute;
    top: -10px;
    /* left: 510px; */
    left: calc(100% - 170px);
}






