<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login.dao.LoginDao">
	
	<select id="loginProc" resultType="UserDTO" parameterType="UserDTO">
		select userid, userpw from usertb_test
		<where>
			and userid = #{userid}
			and userpw = #{userpw}
		</where>
	</select>

</mapper>














