<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment.dao.CommentDao">

<select id="selectCommentByBoardNo" resultType="Comment" parameterType="Board">
	SELECT rnum comm_seq, commno, boardno, USERNO, COMMCONTENT, commdate FROM (
		SELECT rownum rnum, B.* FROM(
			SELECT COMMNO, boardno, USERNO, COMMCONTENT, commdate
			FROM COMMENTTB
			WHERE boardno = #{boardNo}
			ORDER BY commdate ASC
		) B
	)
	ORDER BY rnum ASC
</select>

<insert id="commentInsert" parameterType="Comment">
	<selectKey keyProperty="commentno" order="BEFORE" resultType="int">
		SELECT commentTB_seq.nextval FROM dual
	</selectKey>
	INSERT INTO COMMENTTB( commentno, boardno, userno, content)
	VALUES( #{commentno }, #{boardno }, #{userno }, #{content } )
</insert>
	
<delete id="deleteComment" parameterType="Comment">
DELETE ADMIN.COMMENTTB
<where>
	AND commentno = #{commentno}
	AND boardno = #{boardno}
</where> 

</delete>

</mapper>