<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendar.dao.CalendarDao">

    <select id="getCalData" resultType="Calendar" parameterType="int">
        select calendar_no,userno, calendar_title, content, start1, end1 from calendar
        <where>
            and userno = #{userno}
        </where>
    </select>

    <insert id="insertCalendar" parameterType="Calendar">
        <selectKey resultType="int" order="BEFORE" keyProperty="calendarNo" >
            select CAL_SEQ.nextval from dual
        </selectKey>
        insert into calendar (calendar_no, userno, calendar_title, content, start1, end1)
        VALUES (#{calendarNo}, #{userno}, #{calendarTitle}, #{content}, #{start1}, #{end1})
    </insert>

    <update id="updateDateCalendar" parameterType="Calendar">
        update CALENDAR
        set START1 = #{start}
        , END1 = #{end}
    </update>

    <delete id="deleteCalendar" parameterType="Calendar">
        delete CALENDAR
        <where>
            and userno = #{userno}
            and calendar_title = #{calendarTitle}
            and start1 = #{start1}
            and end1 = #{end1}
        </where>
    </delete>
</mapper>