/* loginForm.css */


body {
    font-family: 'Montserrat', sans-serif;
    background: white;
}

.container {
    display: block;
    max-width: 680px;
    width: 80%;
    margin: 120px auto;
}

h1 {
    color: 	#87CEFA;
    font-size: 48px;
    letter-spacing: -3px;
    text-align: center;
    margin: 120px 0 80px 0;
    transition: .2s linear;
    text-decoration: none;
}

.links {
    list-style-type: none;
}

.links li {
    display: inline-block;
    margin: 0 20px 0 0;
    transition: .2s linear;
}
.links li a {
    text-decoration: none;
    color: #0f132a;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}

form {
    width: 100%;
    max-width: 680px;
    margin: 40px auto 30px; 
}

.input__block {
    margin: 20px auto;
    display: block;
    position: relative;
}

.input__block.id-input__block::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50px;
    display: block;
    width: 0;
    height: 0;
    background: transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(15, 19, 42, 0.1);
    transition: .2s linear;
}



input {
    display: block;
    width: 90%;
    max-width: 680px;
    height: 50px;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    background: rgba(15, 19, 42, 0.1);
    color: rgba(15, 19, 42, 0.3);
    padding: 0 0 0 15px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    transition: .2s linear;
}

input:focus,
input:active {
    outline: none;
    border: none;
    color: rgba(15, 19, 42, 1);
}

.signin__btn {
    background: #87CEFA;
    color: white;
    display: block;
    width: 90.5%;
    max-width: 680px;
    height: 50px;
    border-radius: 8px;
    margin: -30 auto 10px; 
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 15px 30px rgba(135, 206, 250, 0.36);
    transition: .2s linear;
}

.signin__btn:hover{
    box-shadow: 0 0 0 rgba(135, 206, 250, 0);
}

.social {
  display: flex;
  position: absolute;
  left: 47.7%;
  transform: translateX(-45%); 
}

.kakao img{
	margin-left: 9%;
}

.social .kakao,
.social .naver {
  margin: -5 120px; 
}

.social .kakao img,
.social .naver img{
	height: 50px;
}

.social .naver{
	margin-right: 130px;
	width: 200px;
}
