<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grade.dao.GradeDao">
	<select id="gradeDetail" parameterType="Grade" resultType="Grade">
        select * from grade where GRADENO = #{gradeno}
    </select>

    <select id="gradeList" resultType="Grade">
        select GRADENO,GRADENAME,COMM from grade
        <where>
                and gradeno <![CDATA[ < 5000 ]]>
        </where>
        order by GRADENO
    </select>

    <insert id="gradeInsert" parameterType="Grade">
        insert into grade (GRADENO,GRADENAME,COMM)
        values (#{gradeno},#{gradename}, #{comm})
    </insert>

    <update id="gradeUpdate" parameterType="Grade">
        UPDATE grade
        set GRADENO = #{gradeno},
            GRADENAME = #{gradename},
            COMM = #{comm}
        where gradeno = #{gradeno}
    </update>

    <delete id="gradeDelete" parameterType="Grade">
        delete from grade where GRADENO = #{gradeno}
    </delete>
</mapper>














