<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message.dao.MessageDao">

<select id="userCntByNickName" resultType="int" parameterType="String">
	SELECT count(*) FROM userTB
	WHERE nickname = #{touser}
</select>

<select id="getUserByNickName" resultType="User" parameterType="String">
	SELECT * FROM userTB
	WHERE nickname = #{touser}
</select>

<insert id="insertMessage" parameterType="dto.Message">
	<selectKey keyProperty="messageNo" order="BEFORE" resultType="int">
		SELECT MESSAGE_SEQ.nextval FROM dual
	</selectKey>
	INSERT INTO message(messageno, SENDUSERNO ,TOUSERNO ,CONTENT)
	VALUES(#{messageNo}, #{sendUserNo}, #{toUserNo}, #{content} )
</insert>

<select id="getListByUserno" parameterType="int" resultType="dto.Message">
	SELECT nickname sender,MESSAGENO, SENDUSERNO ,TOUSERNO ,CONTENT ,SENDDATE ,READ ,save  
	FROM 
		(SELECT u.*, m.* FROM usertb u, message m
		WHERE u.USERNO = m.SENDUSERNO 
	) d
	WHERE d.SENDUSERNO = #{userNo}
	ORDER BY d.SENDDATE DESC 

</select>

<!-- 에러 수정 예정 -->
<!-- <delete id="deleteByMessageNo" parameterType="hashmap"> -->
<!-- 	<if test="messageNoArr != null"> -->
<!-- 	DELETE FROM MESSAGE -->
<!-- 	<where>  MESSAGENO IN -->
<!-- 	<foreach collection="messageNoArr" item="messageNos" separator="OR" close=")" open="("> -->
<!-- 		 #{messageNos}         -->
<!-- 	</foreach> -->
<!-- 	</where> -->
<!-- 	</if> -->
<!-- </delete> -->


</mapper>