<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message.dao.MessageDao">

<sql id="search">
	<if test="search != null">
		AND content LIKE '%' || #{search} || '%'
	</if>
</sql>


<select id="userCntByNickName" resultType="int" parameterType="String">
	SELECT count(*) FROM userTB
	WHERE nickname = #{touser}
</select>

<select id="getUserByNickName" resultType="User" parameterType="String">
	SELECT * FROM userTB
	WHERE nickname = #{touser}
</select>

<insert id="insertMessage" parameterType="dto.Message">
	<selectKey keyProperty="messageNo" order="BEFORE" resultType="int">
		SELECT MESSAGE_SEQ.nextval FROM dual
	</selectKey>
	INSERT INTO message(messageno, SENDUSERNO ,TOUSERNO ,CONTENT)
	VALUES(#{messageNo}, #{sendUserNo}, #{toUserNo}, #{content} )
</insert>

<select id="getListByUserno" parameterType="int" resultType="dto.Message">
	SELECT * FROM 
	(	select rownum rnum , m.* FROM (
			SELECT nickname sender,MESSAGENO, SENDUSERNO ,TOUSERNO ,CONTENT ,SENDDATE ,READ ,save  
			FROM 
				(SELECT u.*, m.* FROM usertb u, message m
				WHERE u.USERNO = m.SENDUSERNO 
			) d
			WHERE d.TOUSERNO = #{userNo}
			<if test="paging.search != null and !''.equals(paging.search)">
				AND content LIKE '%' || #{paging.search} || '%'
			</if>
			ORDER BY d.SENDDATE DESC
		) m 
	)
	<where>
		AND rnum between #{paging.startNo} AND #{paging.endNo}
	</where>
</select>

<delete id="deleteByMessageNo" parameterType="java.util.ArrayList">
	DELETE FROM message
	<where>
	messageno in 
	<foreach collection="arr" item="data" open="(" close=")" separator="," >
		#{data}
	</foreach>
	</where>
</delete>

<update id="saveUpdateBySave" parameterType="dto.Message">
	UPDATE message
	<set>
		save = #{save}
	</set>
	<where>
	messageno = #{messageNo}
	</where>
</update>

<select id="getListBySendUser" parameterType="map" resultType="dto.Message">
	SELECT * FROM 
	(	select rownum rnum , i.* FROM (
			SELECT nickname sender,MESSAGENO, SENDUSERNO ,TOUSERNO ,CONTENT ,SENDDATE ,READ ,save  
			FROM 
				(SELECT u.*, m.* FROM usertb u, message m
				WHERE u.USERNO = m.toUserNo 
			) d
			WHERE d.SENDUSERNO = #{userNo}
			<if test="paging.search != null and !''.equals(paging.search)">
				AND content LIKE '%' || #{paging.search} || '%'
			</if>
			ORDER BY d.SENDDATE DESC
		) i 
	)
	<where>
		AND rnum between #{paging.startNo} AND #{paging.endNo}
	</where>
	
</select>

<select id="getPaging" parameterType="map" resultType="int">
	SELECT count(*) FROM (
		SELECT * FROM message
		<where>
			AND toUserNo = #{userNo}
			<if test="paging.search != null and !''.equals(paging.search)">
				AND content LIKE '%' || #{paging.search} || '%'
			</if>
		</where>
	)
</select>

<select id="messageSendUserPaging" parameterType="map" resultType="int">
	SELECT count(*) FROM (
		SELECT * FROM message
		<where>
			AND SENDUSERNO = #{userNo}
			<if test="paging.search != null and !''.equals(paging.search)">
				AND content LIKE '%' || #{paging.search} || '%'
			</if>
		</where>
	)
</select>

<update id="readChk" parameterType="int">
	update message
	set read = 'Y'
	where messageNo = #{messageNo}
</update>

<delete id="cleanupExpiredMessages">
	DELETE FROM message
	<where>
		AND save = 'N'
		AND   <![CDATA[ SENDDATE < SYSDATE - 30 ]]>
	</where>
</delete>

</mapper>