@charset "UTF-8";
.Menu-List {
 	position: absolute;
    top: 27px;
    right: 20px;
}

.Menu-List img {
	float: right;
	margin-left: 10px;
	width: 55px;
	height: 55px;
	cursor: pointer;
	margin-top: 21px;
}
 
.Header-Name{
	width: 100%;
	height: 95px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 25px;
}

img.site-Img{
	margin-top:5px;
}

.Site-Name{
	font-size: 40px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 100px;
}

/*.Header-Button {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    text-align: center;*/
/*    margin-top: 30px;*/
/*    margin-bottom: 30px;*/
/*}*/

/*.Header-Button li {*/
/*    display: inline-block;*/
/*    margin: 0 5px;*/
/*}*/

/*.Header-Button li a {*/
/*    display: inline-block;*/
/*    padding: 10px 20px;*/
/*    text-decoration: none;*/
/*    color: #696969;*/
/*    background-color: #DCDCDC;*/
/*    border-radius: 20px;*/
/*    font-weight: bold;*/
/*}*/

/*.Header-Button li a:hover {*/
/*	border: 1px solid #000000;*/
/*}*/

.Header-Search {
    position: relative;
    width: 930px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.Header-Search input[type="text"] {
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 800px;
    height: 100%;
    background-color: #DCDCDC;
    box-sizing: border-box;
    font-size: 20px;
}

#search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: rgba(220, 220, 220, 0.8);
    transition: right 0.3s ease;
}

.login-menu.show {
    right: 0;
}

.login-button-container {
    /* text-align: center; 
    margin-top: 200px; 
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 10px 20px; */

    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.login-button-container li {
    margin-bottom: 10px;
}

.login-button-container li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    background-color: #ABB6BC;
    border-radius: 20px;
    font-weight: bold;
}

.login-button-container li a:hover {
    border: 1px solid #000000;
}
.login{
    width: 300px;
    height: 200px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px 0;
    border-radius: 12px;
    border: 1px solid black;
    float: right;
}
.login-button{
    width: 90%;
    height: 60px;
    background-color: #87CEFA;
    border: none;
    border-radius: 12px;
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
}
.weather{
    clear: both;
    float: right;
    width: 300px;
    height: 205px;
}
.icon {
    float: left; /* 왼쪽 정렬 */
    margin-right: 20px; /* 오른쪽 여백 */
}
.temp {
    float: left; /* 왼쪽 정렬 */
}
.text, .text2{
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 요소들을 양쪽 끝에 정렬 */
}
ul.nav>li.menu:hover~ .slideshow-container {
    margin-top: 7%; /* 메뉴 바의 높이에 맞게 조절 */
}

a{
    color: black;
    text-decoration-line: none;
}



