<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QandA.dao.QandADao">

    <select id="findAll" resultType="QandA.dto.QandA">
        SELECT
            id, userno, cateno, title, content, createDate, updateDate, view, good
        FROM
            qanda
    </select>

    <select id="findById" resultType="QandA.dto.QandA" parameterType="int">
        SELECT
            *
        FROM
            qanda
        WHERE
            id = #{id}
    </select>

    <insert id="save" parameterType="QandA.dto.QandA">
        INSERT INTO qanda (userno, cateno, title, content, createDate, updateDate, view, good)
        VALUES (#{userno}, #{cateno}, #{title}, #{content}, #{createDate}, #{updateDate}, #{view}, #{good})
    </insert>

    <update id="update" parameterType="QandA.dto.QandA">
        UPDATE qanda
        SET
            userno = #{userno},
            cateno = #{cateno},
            title = #{title},
            content = #{content},
            createDate = #{createDate},
            updateDate = #{updateDate},
            view = #{view},
            good = #{good}
        WHERE
            id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM qanda
        WHERE
            id = #{id}
    </delete>

</mapper>
