<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.dao.UserDao">

<sql id="search">
<if test="search != null and searchKind != null">
	<choose>
	 <when test="searchKind.equals('nickName')">
		AND nickName Like '%' || #{search} || '%'
	 </when>
	 <when test="searchKind.equals('userno')">
		AND TO_CHAR(userno) Like '%${search}%'
	 </when>
	</choose>
</if>
</sql>

	<select id="userDetail" parameterType="User" resultType="User">
		SELECT userno, userid, name, NICKNAME, gender, email,POSTCODE, ADDRESS, DETAILADDRESS, EXTRAADDRESS, phone, GRADENO, BLACK FROM usertb WHERE userno = #{userno}
	</select>

	<select id="userList" resultType="User">
        SELECT userno,userid,name,NICKNAME,GENDER,gradeno,black FROM usertb
        <where>
            and gradeno <![CDATA[ < 5000 ]]>
        </where>
		order by userno
    </select>

	<insert id="userInsert" parameterType="User">
		INSERT INTO usertb(userno, name, userid, userpw,  email, gender, postcode, address, detailAddress, extraAddress, phone, nickname)
		VALUES (USER_SEQ.nextval, #{name}, #{userid}, CRYPTO.ENCRYPT_AES(#{userpw}), #{email}, #{gender}, LPAD(#{postcode},5,'0'), #{address}, #{detailAddress}, #{extraAddress}, #{phone},  #{nickname})
	</insert>

	<update id="userUpdate" parameterType="User">
		UPDATE usertb
		SET name  = #{name},
			email =#{email},
			gender=#{gender},
			postcode=#{postcode},
			address       =#{address},
			detailAddress = #{detailAddress},
			extraAddress  = #{extraAddress},
			phone         = #{phone},
			nickname      = #{nickname}
		WHERE userno = #{userno }
	</update>

	<delete id="userDelete" parameterType="User">
		DELETE FROM usertb WHERE userno=#{userno }
	</delete>

	<select id="idChk" resultType="int">
		select count(*) from usertb
		where userid = #{userid}
	</select>
	<select id="nickChk" resultType="int" parameterType="User">
		select count(*) from usertb
		where nickname = #{nickname}
	</select>
	<select id="findUserid" resultType="User">
		select userid from usertb
		where name = #{name }
		and email = #{email }
	</select>
	<select id="findUserpw"  resultType="User">
		select userpw from usertb
		where userid = #{userid }
		  and  name = #{name }
		  and email = #{email }
	</select>
	<update id="updateUserpw" parameterType="User">
		update usertb
		set userpw = CRYPTO.ENCRYPT_AES(#{userpw})
		where userid = #{userid }
		  and  name = #{name }
		  and email = #{email }
	</update>
	<update id="blackUser" parameterType="java.lang.Long">
		UPDATE usertb
		SET BLACK = 'Y'
		WHERE userno = #{userno}
	</update>
	<update id="whiteUser" parameterType="java.lang.Long">
		UPDATE usertb
		SET BLACK = 'N'
		WHERE userno = #{userno}
	</update>
	
	<select id="getUserListPaging" parameterType="util.UserPaging" resultType="int">
		select count(*) from (
			SELECT userno, nickname FROM usertb
			<where>
				and gradeno <![CDATA[ < 5000 ]]>
				<include refid="search" />
			</where>
		)
	</select>
	
	<select id="userPagingList" parameterType="util.UserPaging" resultType="User">
		SELECT * from
		(	select rownum rnum, u.* FROM
			(        SELECT userno,userid,name,NICKNAME,GENDER,gradeno,black FROM usertb
	        <where>
	            and gradeno <![CDATA[ < 5000 ]]>
				<include refid="search" />
	        </where>
			order by userno
			)u
		)
		<where>
			and rnum between #{startNo} and #{endNo}
		</where>
	</select>
	
	
</mapper>

