/* Styles for container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.tit {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* Styles for item wrapper */
#itemwarp {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

#itemwarp table {
    margin: 0 auto; /* Center the table horizontally */
}

/* Styles for images */
#itemwarp img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Styles for buttons */
button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    border: 1px solid #ccc;
    height: 20px;
    width: 5%;
}

/* Styles for quantity selector */
.quantity-selector {
    display: flex;
    align-items: center;
}

.quantity-selector input {
    width: 60px;
    padding: 5px;
    text-align: center;
}

.quantity-selector button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.quantity-selector button:hover {
    background-color: #218838;
}


/* 리뷰 섹션 스타일 */
#reviewWrap {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.editReviewBtn{
    margin-right: 10px;
}

.review {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


.review h5 {
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #333;
}

.review h6 {
    margin: 0 0 10px 0;
    font-size: 14px;
    color: #777;
}

.review p {
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #555;
}

.review small {
    display: block;
    color: #aaa;
}

.review button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px; 
}

.review button:last-child {
    margin-right: 0; 
}

.review button:hover {
    background-color: #005bc1;
}

