



body {
    font-family: 'Montserrat', sans-serif;
    background: white;
}

.warpper {
    display: block;
    max-width: 680px;
    width: 90%;
    margin: 120px auto;
}

h3 {
    color: 	#87CEFA;
    font-size: 48px;
    letter-spacing: -3px;
    text-align: center;
    margin: 70px 0 80px 0;
    transition: .2s linear;
    text-decoration: none;
}

.grade {
    list-style-type: none;
    margin-left: 23px;
}

.grade li {
    display: inline-block;
    margin: 0 20px 0 0;
    transition: .2s linear;
    
}

.grade a {
    text-decoration: none;
    color: #2196f3;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}

.grade__block {
    margin: 20px auto;
    display: block;
    position: relative;
}

.grade__block.list-grade__block::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 70px;
    display: block;
    width: 0;
    height: 0;
    background: transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(15, 19, 42, 0.1);
    transition: .2s linear;
}

.table {
    width: 100%; 
}

.table th {
	background-color: A0DEFF;
}

.table td {
	background-color: CAF4FF;
}

.content {
	background-color: #f0f0f0;
	color: #333;
	width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
}




a {
	color: #007bff;
}
