
.gradeSection{
	width: 90%; 
    max-width: 880px;
    height: auto; 
    border: solid 1px #0068FF;
    border-radius: 20px;
    box-shadow: 7px 7px 39px 0px #0068FF40;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0; 
    margin: 50px auto 100px; 
}

p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: left;
}

body{
	font-weight: bold;
    text-decoration: none;
    text-align: left;
    line-height: 20px;
    letter-spacing: -1px;
    color: #333;
}