

.serviceSection{
	width: 90%; 
    max-width: 880px;
    height: auto; 
    border: solid 1px #0068FF;
    border-radius: 20px;
    box-shadow: 7px 7px 39px 0px #0068FF40;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0; 
    margin: 50px auto 100px; 
}


.bold-text{
	font-weight: bold;
	text-decoration: none;
	font-family: '돋움';
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	letter-spacing: -1px;
	color: #333;
}

p{
	margin-left: 150px;
	margin-right: 150px;
}

body{
	background: #fff;
	color: #666;
	font: normal 12px / 1.7 '굴림', Gulim, '돋움', Dotum, AppleGothic, Sans-serif;
}

#back-to-top {
  display: inline-block;
  background-color: #0068FF;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-to-top::after {
  content: "\25B2";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}
#back-to-top:active {
  background-color: #555;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}
