<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.dao.FileDao">

	<insert id="insert" parameterType="board.dto.BoardFile">
		<selectKey resultType="int" order="BEFORE" keyProperty="fileNo">
			SELECT boardfile_seq.nextval FROM dual
		</selectKey>
		INSERT INTO boardfile( fileno, boardno, origin_name, stored_name)
		VALUES( #{fileNo}, #{boardNo}, #{originName}, #{storedName})
	</insert>
	
	<select id="getFileCnt" parameterType="int" resultType="int">
		SELECT count(*) FROM
		(
			SELECT FILENO,BOARDNO,origin_name, stored_name
			FROM boardfile
			WHERE  BOARDNO = #{boardno}
		)
	</select>
	
	<select id="getFile" parameterType="int" resultType="int">
		SELECT FILENO,BOARDNO,origin_name, stored_name
		FROM boardfile
		WHERE  BOARDNO = #{boardno}
	</select>
	
	<select id="getFileByBoardNo" parameterType="int" resultType="BoardFile">
		SELECT FILENO,BOARDNO,origin_name, stored_name
		FROM boardfile
		WHERE  BOARDNO = #{boardno} 
	</select>
	
	<select id="getFilesByBoardNo" parameterType="int" resultType="BoardFile">
		SELECT FILENO,BOARDNO,origin_name, stored_name
		FROM boardfile
		WHERE  BOARDNO = #{boardno}
	</select>
	
</mapper>