* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.tit {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5px;
}

.header {
    background: #87cefa;
    color: white;
    padding: 1em 0;
    margin-bottom: 2em;
}
.recommendBtn .share{
    background-color: #1e73be;
    color: white;
    border: none;
    cursor: pointer;
}
.recommendBtn .share:hover{
    background-color: #185e9c;
    color: white;
}
.header h1 {
    margin: 0;
    font-size: 2.5em;
    margin-left: 165px;
}

.container {
    width: 80%;
    margin: 0 auto 50px;
    background: white;
    padding: 29px 29px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

button {
    background: #87cefa;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #39a9db;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
    height: 10%;
}

.table {
    height: 30%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
}

th {
    background: #f4f4f4;
}

#commentInput {
    margin-top: 2em;
}

#commentInput table {
    width: 100%;
    border: none;
    text-align: center;
}

#commentInput th {
    padding: 0.5em;
}

#commentInput td {
    border: none;
    padding: 0.5em;
}

#commentInput input[type="text"], #commentInput input[name="commentContent"] {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#commentInput button {
    margin-left: 1em;
    width: 10%;
    float: right;
}

.comment {
    margin-top: 2em;
}

.comment table {
    width: 100%;
    margin-bottom: 1em;
}

.comment .commentDelete {
    background: #f44336;
    border: none;
    padding: 0.5em 1em;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.comment .commentDelete:hover {
    background: #e53935;
}

#reBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.recommendBtn {
    display: flex;
    align-items: center;
    padding: 10px;
}

.recommendBtn a, .recommendBtn button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* 동일한 너비 */
    height: 35px; /* 동일한 높이 */
    text-decoration: none;
    color: #333;
    margin: 0 5px;
    transition: background-color 0.3s, color 0.3s;
}

.recommendBtn a img {
    margin-right: 5px;
}

.recommendBtn a.do {
    background-color: #e0e0e0;
}

.recommendBtn a.cancel {
    background-color: #1e73be;
    color: white;
}

.recommendBtn button {
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
}

.recommendBtn button:hover {
    background-color: #e55347;
}

button[onclick*="신고하기"] {
    background: #f44336;
}

button[onclick*="신고하기"]:hover {
    background: #e53935;
}

.container {
	height: auto;
}

.content p {
	min-height: 500px;
}
