/* 메인메뉴 */
ul.nav {
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* 메인 메뉴의 항목 */
ul.nav > li {
    position: relative;
}

ul.nav > li > a {
    color: #48cae4; /* 밝은 색 텍스트 */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 24px;
    margin: 0 10px;
    display: block;
    transition: color 0.3s; /* 호버 효과에 대한 전환 효과 추가 */
}

ul.nav > li > a:hover {
    color: #0077b6; /* 호버시 색상 변경 */
}

/* 서브 메뉴 */
ul.nav > li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    position: absolute;
    top: 100%; /* 부모 요소의 아래쪽에 위치 */
    left: 0;
    display: none;
    background-color: rgba(202, 240, 248, 0.7); /* 서브 메뉴 배경색 (투명도 조정) */
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

ul.nav > li:hover > ul {
    display: block; /* 부모 요소에 호버시 서브 메뉴 표시 */
}

ul.nav > li > ul > li {
    margin-top: 10px;
}

ul.nav > li > ul > li > a {
    display: block;
    padding: 10px;
    color: #2c3e50; /* 서브 메뉴 텍스트 색상 */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* 호버 효과에 대한 전환 효과 추가 */
    border-radius: 20px;
}

ul.nav > li > ul > li > a:hover {
    background-color: #1abc9c; /* 호버시 배경색 변경 */
    color: #ecf0f1; /* 호버시 텍스트 색상 변경 */
}


.Header-Search {
    margin-bottom: 20px;
    text-align: center;
}

.Header-Search input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 300px;
}

.Header-Search img {
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
}

.menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

