.boardContainer {
    display: flex;
    flex-wrap: wrap; /* 넘칠 경우 자동으로 줄바꿈 */
    gap: 80px; /* 각 요소 사이의 간격 설정 */
    justify-content: center;
}

.boardPre {
    padding-bottom: 20px;
    /* 추가적인 스타일링이 필요할 경우 여기에 추가 */
}
.category{
    margin-right: 10%;
    color: black;
    font-size: 24px ;
}

.title{
    width: 80%;
    text-align: left;
}
td.nick{
    width: 13%;
    text-align: center;
}

div.boardPre{
    width: calc(45%); /* 2개의 열로 설정하고 간격을 제외한 폭 설정 */
    max-width: 680px;
    height: 20%;
    min-height: 320px;
    border-radius: 8px;
    background: rgba(15, 19, 42, 0.1);
    padding: 30px;
    font-size: 14px;
}
.boardcontent{
    width: 100%;
}
.boardcontent td{
    border-bottom: 1px solid lightslategray;
}

