/* 메인메뉴 */
ul.nav {
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* 메인 메뉴의 항목 */
ul.nav > li {
    float: left;
    border-radius: 45px;
    background-color: #87CEFA;
    line-height: 2em;
    border-right: 1px solid #fff;
    position: relative;
}

ul.nav > li > a {
    color: #ecf0f1; /* 밝은 색 텍스트 */
    border-radius: 45px;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    padding: 16px 24px;
    margin: 0 5px;
    display: block;
}

ul.nav > li > a:hover {
    color: #1abc9c; /* 네이버 쪽지함의 민트 색상 */
    transition: color 200ms;
}

/* 서브 메뉴 */
ul.nav > li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    position: absolute;
    z-index: 1;
}

ul.nav > li > ul > li {
    background-color: #95a5a6; /* 서브 메뉴 배경색 */
    border-radius: 45px;
    display: none;
    margin-top: 10px;
}

ul.nav > li:hover > ul > li {
    display: list-item;
    text-align: center;
}

ul.nav > li > ul > li > a {
    background-color: #bdc3c7; /* 서브 메뉴 항목 배경색 */
    border-radius: 45px;
    display: block;
    color: #2c3e50; /* 서브 메뉴 텍스트 색상 */
    text-decoration: none;
}

ul.nav > li > ul > li > a:hover {
    background-color: #1abc9c; /* 서브 메뉴 항목 호버 색상 */
    color: #ecf0f1; /* 서브 메뉴 항목 호버 시 텍스트 색상 */
    transition: background 200ms, color 200ms;
}

.Header-Search {
    margin-bottom: 20px;
    text-align: center;
}

.Header-Search input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 300px;
}

.Header-Search img {
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
}
