<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.dao.BasketDao">
	
	<insert id="insertBasket" parameterType="dto.Basket">
		<selectKey keyProperty="basketNo" order="BEFORE" resultType="int">
			SELECT basket_seq.nextval FROM dual
		</selectKey>
		insert into Basket( basketno,userno,itemno,quantity)
		VALUES(#{basketNo},#{userNo},#{itemNo},#{quantity})
	</insert>
	
	<select id="basketListByUserNo" parameterType="int" resultType="dto.Basket">
		SELECT basketno,userno,itemno,quantity,additionalDATE+ INTERVAL '9' HOUR AS additionalDATE FROM BASKET
		<where>
			AND userno = #{userNo}
		</where> 
		ORDER BY additionalDATE DESC
	</select>
	
	<select id="itemsByBasketNos" parameterType="dto.Basket">
	<if test="baskets != null">
		SELECT itemno,userno,itemname,createdate+ INTERVAL '9' HOUR AS createdate,price,itemcomm,remain,titleImg FROM item
		<where>
		itemno in 
		<foreach collection="baskets" item="data" open="(" close=")" separator="," >
			#{data.itemNo}
		</foreach>
		</where>
	</if>
	</select>
	
	<select id="itemFilesByBasketNos">
		SELECT it.itemno, stored_Name storedName, origin_Name originName , fileNo  FROM item it, itemFile ItF 
		<where>
		AND it.itemno = itf.itemno
		AND it.titleimg = itf.FILENO
		AND it.itemno in 
		<foreach collection="baskets" item="data" open="(" close=")" separator="," >
			#{data.itemNo}
		</foreach>
		</where>
	</select>
	
	<select id="basketListBybasketNos" parameterType="int" resultType="dto.Basket">
		SELECT basketno,userno,itemno,quantity,additionalDATE+ INTERVAL '9' HOUR AS additionalDATE FROM BASKET
		<where>
		basketNo in 
		<foreach collection="basketNos" item="data" open="(" close=")" separator="," >
			#{data}
		</foreach>
		</where>
	</select>
	
	<select id="getItemPriceByItemNos" parameterType="dto.Basket" resultType="dto.Item">
		SELECT itemno,userno,itemname,createdate+ INTERVAL '9' HOUR AS createdate,price,itemcomm,remain,titleImg FROM item
		<where>
		itemno in 
		<foreach collection="baskets" item="data" open="(" close=")" separator="," >
			#{data.itemNo}
		</foreach>
		</where>
	</select>
	
	<delete id="deleteBybasketNo" parameterType="int">
		delete basket
		where basketNo = #{basketNo}
	</delete>
	
	
</mapper>