<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.dao.OrderDao">

<insert id="insertUserorder" parameterType="dto.UserOrder">
	<selectKey order="BEFORE" resultType="int" keyProperty="orderNo">
		SELECT USERORDER_SEQ.nextval FROM dual
	</selectKey>
	INSERT INTO UserOrder(orderno,userno,username,phone,pay,totalprice,post_code,address,detailaddress,extraaddress,paramount,orderDate)
	VALUES(#{orderNo},#{userNo},#{userName},#{phone},'N',#{totalPrice},#{postCode},#{address},#{detailAddress},#{extraAddress},#{paraMount},SYSDATE)
</insert>

<insert id="insertOrderItem" parameterType="dto.OrderItem">
	<selectKey order="BEFORE" resultType="int" keyProperty="orderItemNo">
		SELECT ORDERITEM_SEQ.nextval FROM dual
	</selectKey>
	INSERT INTO OrderItem(orderitemno,orderno,itemno,itemname,order_quantity,price)
	VALUES(#{orderItemNo},#{orderNo},#{itemNo},#{itemName},#{orderQuantity},#{price})
</insert>

<select id="basketListBybasketNos" parameterType="int" resultType="dto.Basket">
	SELECT basketno,userno,itemno,quantity,additionalDATE+ INTERVAL '9' HOUR AS additionalDATE FROM BASKET
	<where>
	basketNo in 
	<foreach collection="basketNos" item="data" open="(" close=")" separator="," >
		#{data}
	</foreach>
	</where>
</select>

<select id="getItemByItemNos" parameterType="dto.Basket" resultType="dto.Item">
	SELECT itemno,userno,itemname,createdate+ INTERVAL '9' HOUR AS createdate,price,itemcomm,remain,titleImg FROM item
		<where>
		itemno in 
		<foreach collection="baskets" item="data" open="(" close=")" separator="," >
			#{data.itemNo}
		</foreach>
		</where>
</select>

<select id="getTitleImgs" resultType="dto.ItemFile">
	SELECT it.itemno, stored_Name storedName, origin_Name originName , fileNo  FROM item it, itemFile ItF 
	<where>
	AND it.itemno = itf.itemno
	AND it.titleimg = itf.FILENO
	AND it.itemno IN
	<foreach collection="items" item="data" open="(" close=")" separator="," >
		#{data.itemNo}
	</foreach>
	</where>
</select>

<insert id="insertUserOrder" parameterType="dto.UserOrder">
	<selectKey order="BEFORE" resultType="int" keyProperty="orderNo">
		SELECT USERORDER_SEQ.nextval FROM dual
	</selectKey>
	INSERT INTO UserOrder(orderno,userno,username,phone,pay,totalprice,post_code,address,detailaddress,extraaddress,paramount,orderDate,impuid,merchantUid)
	VALUES(#{orderNo},#{userNo},#{userName},#{phone},#{pay},#{totalPrice},#{postCode},#{address},#{detailAddress},#{extraAddress},#{paraMount},SYSDATE,#{impUid},#{merchantUid})
</insert>

<insert id="insertOrderItems" parameterType="int">
	INSERT INTO OrderItem(orderitemno,orderno,itemno,itemname,order_quantity,price)
	SELECT ORDERITEM_SEQ.nextval, D.* FROM (
	<foreach collection="orderItems" item="items" separator="UNION ALL">
	<![CDATA[
		SELECT 
		#{items.orderNo} AS orderNo 
		, #{items.itemNo} AS itemNo 
		, #{items.itemName} AS itemName 
		, #{items.orderQuantity} AS orderQuantity 
		, #{items.price} AS price
		FROM DUAL]]> 
	</foreach>
	)D 
</insert>

<select id="getBasketsByBasketNos" parameterType="int" resultType="dto.Basket">
	SELECT basketno,userno,itemno,quantity,additionalDATE+ INTERVAL '9' HOUR AS additionalDATE FROM BASKET
		<where>
		basketNo in 
		<foreach collection="basketNos" item="data" open="(" close=")" separator="," >
			#{data}
		</foreach>
		</where>
</select>

<delete id="deleteBasketsByBasketNos">
<if test="basketNos != null">
DELETE FROM basket
WHERE basketNo IN 
	<foreach collection="basketNos" item="data" open="(" close=")" separator=",">
		#{data}
	</foreach>
</if>
</delete>

<select id="gettitleImg" parameterType="dto.OrderItem" resultType="dto.Item">
	SELECT itemno,userno,itemname,createdate+ INTERVAL '9' HOUR AS createdate,price,itemcomm,remain,titleImg FROM item
		<where>
		itemno in 
		<foreach collection="orderItems" item="data" open="(" close=")" separator="," >
			#{data.itemNo}
		</foreach>
		</where>
</select>

</mapper>