<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.dao.ReviewDao">

<select id="selectByItemNo" parameterType="int" resultType="dto.Review">
	SELECT reviewNo, u.userNo, itemNo, reviewTitle, reviewContent, CREATEREVIEWDATE, UPDATEREVIEWDATE, nickname FROM review r, usertb u
	<where>
		AND u.userNo = r.userNo 
		AND itemNo = #{itemNo}
	</where>
	ORDER BY reviewNo DESC
</select>

	<insert id="writeReview" parameterType="dto.Review">
		<selectKey resultType="int" order="BEFORE" keyProperty="reviewNo" >
			select REVIEW_SEQ.nextval from dual
		</selectKey>
		insert into REVIEW (REVIEWNO, USERNO, ITEMNO, REVIEWTITLE, REVIEWCONTENT, CREATEREVIEWDATE)
		values (#{reviewNo}, #{userNo}, #{itemNo}, #{reviewTitle}, #{reviewContent}, sysdate + INTERVAL '9' HOUR)

	</insert>

<update id="updateReview" parameterType="dto.Review">
        update REVIEW
        set REVIEWTITLE = #{reviewTitle},
            REVIEWCONTENT = #{reviewContent},
            UPDATEREVIEWDATE = sysdate + INTERVAL '9' HOUR
        where REVIEWNO = #{reviewNo}
    </update>
	<delete id="deleteReview" parameterType="dto.Review">
		delete REVIEW
		<where>
			AND reviewNo = #{reviewNo}
			AND userno = #{userNo}
		</where>
	</delete>
</mapper>