@charset "UTF-8";


body {

    margin: 0;
    padding: 0;
}
.wrap {
    margin: 0 auto;
    max-width: 1200px; /* 컨테이너의 최대 너비 */
    padding: 20px;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    /*margin-top: 20px;*/
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.container h1 {
    font-size: 24px; /* 제목 크기 */
    margin-bottom: 10px; /* 아래 여백 */
    color: #333;
    text-transform: uppercase;
}

.container a {
    text-decoration: none; /* 링크 밑줄 제거 */
}

.container button {
    padding: 8px 20px; /* 버튼 내용과 상하 좌우 패딩 */
    margin: 0 5px; /* 버튼 사이 여백 */
    border: none; /* 테두리 없음 */
    background-color: #007bff; /* 배경색 */
    color: #fff; /* 글자색 */
    border-radius: 4px; /* 테두리 둥글게 */
    cursor: pointer; /* 커서 모양 변경 */
}

.container button:hover {
    background-color: #0056b3; /* 마우스 호버 시 배경색 변경 */
}

.container form {
    display: flex; /* 폼 요소들을 가로로 나란히 배치 */
    justify-content: center; /* 가운데 정렬 */
    margin-top: 20px; /* 상단 여백 */
    align-items: center;
}

.container input[type="text"] {
    padding: 8px; /* 입력 상자 패딩 */
    border-radius: 4px; /* 입력 상자 테두리 둥글게 */
    border: 1px solid #ccc; /* 입력 상자 테두리 스타일 */
    width: 200px;
    margin-right: 10px;
}

.container button#searchBtn {
    padding: 8px 20px; /* 버튼 내용과 상하 좌우 패딩 */
    margin-left: 10px; /* 왼쪽 여백 */
    border: none; /* 테두리 없음 */
    background-color: #007bff; /* 배경색 */
    color: #fff; /* 글자색 */
    border-radius: 4px; /* 테두리 둥글게 */
    cursor: pointer; /* 커서 모양 변경 */
}

.container #searchBtn:hover {
    background-color: #0056b3; /* 마우스 호버 시 배경색 변경 */
}

/* 상품 목록 스타일 */
.itemAll {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.oneItem {
    flex: 0 0 calc(33.333% - 20px); /* 각 아이템이 화면 너비의 1/3을 차지하도록 설정 */
    margin-bottom: 20px;
    border: 1px solid #ccc; /* 각 아이템의 테두리 스타일 */
    margin-left: 15px;
}

.item {
    text-align: center; /* 아이템 내의 텍스트를 가운데 정렬 */
}

.item-img {
    width: 100%; /* 이미지가 부모 요소의 100%를 차지하도록 설정 */
}