<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inquiry.dao.inquiryFileDao">

<insert id="insertInquiryFiles">
	INSERT into INQUIRYFILE(fileno, inquiryNo, origin_name, stored_name)
	SELECT INQUIRYFILE_seq.nextval, D.* FROM ( 
		<foreach collection="inquiryFiles" item="file" separator="UNION ALL ">
		<![CDATA[
		SELECT
		   #{file.inquiryNo} AS boardNo
		   ,#{file.originName} AS origin_name
		   ,#{file.storedName} AS stored_name
		FROM DUAL]]>
		</foreach>
	) D
</insert>

<select id="getFilesByinquiryNo" parameterType="int" resultType="dto.InquiryFile">
	select fileno, inquiryNo, origin_name, stored_name from inquiryfile
	<where>
		AND inquiryNo = #{inquiryNo}
	</where>
</select>

<select id="getFileByFileNo" resultType="dto.InquiryFile" parameterType="int">
	select fileno, inquiryNo, origin_name, stored_name from inquiryfile
	<where>
		AND fileNo = #{fileNo}
	</where>
</select>

</mapper>